In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import cv2

In [4]:
df = pd.read_csv('/Users/harshartwani/Downloads/Projects/EmotionMLNew/data.csv')

In [6]:
df = df.drop('Unnamed: 0',axis=1)

In [7]:
df

                                                images
0    /Users/harshartwani/Downloads/IIT_Kharagpur Da...
1    /Users/harshartwani/Downloads/IIT_Kharagpur Da...
2    /Users/harshartwani/Downloads/IIT_Kharagpur Da...
3    /Users/harshartwani/Downloads/IIT_Kharagpur Da...
4    /Users/harshartwani/Downloads/IIT_Kharagpur Da...
..                                                 ...
423  /Users/harshartwani/Downloads/IIT_Kharagpur Da...
424  /Users/harshartwani/Downloads/IIT_Kharagpur Da...
425  /Users/harshartwani/Downloads/IIT_Kharagpur Da...
426  /Users/harshartwani/Downloads/IIT_Kharagpur Da...
427  /Users/harshartwani/Downloads/IIT_Kharagpur Da...

[428 rows x 1 columns]

In [10]:
df

,0,1,2,3,4,5,6,7,8,9,...,4891,4892,4893,4894,4895,4896,4897,4898,4899,4900
0,7,11,11,8,8,11,16,16,17,14,...,110,110,107,98,96,108,109,108,111,1
1,12,13,11,11,9,10,12,16,17,16,...,113,113,116,115,111,112,112,111,112,1
2,13,12,9,11,11,10,13,20,16,14,...,114,113,110,111,109,111,110,110,108,3
3,8,9,8,8,8,8,8,8,8,8,...,16,14,14,14,13,13,13,13,17,2
4,28,30,28,28,28,26,23,22,23,25,...,141,134,127,130,134,125,123,117,95,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,35,32,31,30,30,27,25,25,27,28,...,170,169,171,170,170,171,171,171,171,2
331,28,23,22,21,25,25,25,26,26,25,...,168,169,169,168,167,168,170,170,169,2
332,25,24,25,24,28,28,30,29,22,21,...,168,168,168,165,167,169,170,170,168,2
333,28,29,34,30,25,23,20,20,21,21,...,139,155,164,171,171,169,170,172,171,2
334,21,21,20,20,20,20,21,21,22,22,...,167,167,167,168,168,168,169,169,169,2

In [53]:
a=df['4900']==1

In [54]:
a

0       True
1       True
2      False
3      False
4       True
       ...
330    False
331    False
332    False
333    False
334    False
Name: 4900, Length: 335, dtype: bool

In [55]:
b=df[a]

In [56]:
b

,0,1,2,3,4,5,6,7,8,9,...,4891,4892,4893,4894,4895,4896,4897,4898,4899,4900
0,7,11,11,8,8,11,16,16,17,14,...,110,110,107,98,96,108,109,108,111,1
1,12,13,11,11,9,10,12,16,17,16,...,113,113,116,115,111,112,112,111,112,1
4,28,30,28,28,28,26,23,22,23,25,...,141,134,127,130,134,125,123,117,95,1
5,27,30,31,31,31,29,29,29,27,23,...,27,31,33,27,26,36,56,62,58,1
6,32,32,32,31,31,31,32,28,28,26,...,102,97,98,97,91,88,85,87,90,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321,22,19,20,21,20,18,18,20,20,18,...,59,82,152,164,159,147,142,122,146,1
322,26,23,26,27,22,23,23,24,28,27,...,25,43,51,95,81,101,60,72,129,1
323,136,44,40,32,35,32,26,25,27,28,...,37,34,37,28,24,19,18,16,16,1
327,171,168,167,151,44,39,35,37,33,34,...,168,169,170,169,169,169,170,169,169,1
328,29,33,29,27,26,26,24,21,21,24,...,146,148,140,145,103,92,92,79,95,1